$primary-clr: #444;
$secondary-clr: #eece1a;
$show-home-image: true;
$home-image: url(https://images.pexels.com/photos/2058128/pexels-photo-2058128.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
$background-opacity: 0.9;

@mixin easeOut {
  transition: all 0.3s ease-out;
}
@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($primary-clr, $background-opacity);
        z-index: -3;
      }
    }
  }
}
