@import "base";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background();
  background-color: $primary-clr;
  height: 100%;
  margin: 0;
  color: set-text-color($primary-clr);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-clr, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}
h1,
h2,
h3,
p {
  max-width: 60ch;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-clr;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-clr;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: flex;

  .portrait {
    width: 20%;
    height: 200px;
    background: center/cover no-repeat
      url("https://images.pexels.com/photos/5198239/pexels-photo-5198239.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    border-radius: 5px;
    border: 3px solid $secondary-clr;
  }

  .bio {
    width: 80%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
  }
}

.about-job {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;

  .job {
    background: rgba(lighten($primary-clr, 2), 5);
    padding: 0.5rem;
    border-right: $secondary-clr 2px solid;
    margin: 0 1rem;
  }
}

// Projects

.projects {
  display: flex;
  gap: 0.7rem;

  img {
    width: 100%;
    border: 3px #fff solid;
    border-radius: 5px;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-clr;
      @include easeOut;
    }
  }
}

// Contact

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 1.5rem 2.5rem;
    padding: 1.5rem;
  }
}

.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: none;
  margin: 0.3rem 0;
  border-radius: 5px;

  &:hover {
    background: $secondary-clr;
    color: set-text-color($secondary-clr);
  }
}

.btn-light {
  @extend .btn;
  background: lighten($primary-clr, 50);
  color: #111;

  i {
    margin-right: 1rem;
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-clr, 50);
  color: #fff;

  i {
    margin-right: 1rem;
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-clr, 10);
  color: set-text-color($primary-clr);
  height: 60px;
}

@import "mobile";
